<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div class="container">
  <h3 style="font-weight: bold;text-align: center;padding: 20px">My Orders</h3>
  <div class="row justify-content-center">
    <!--    <h3 style="font-weight: bold;text-align: center">My Orders</h3>-->
    <%@myadminorders.each do |mo| %>
      <div class="col-lg-4 col-md-4 col-sm-6 mt-4" >
      <%#((mo.items).split(",")).each do |l| %>
        <!--        <h4>Order Id:<%#= mo.id %></h4>-->
        <!--        <h5>Item Category:<%#= Item.find(l.to_i).category1.name %></h5>-->
        <!--        <h5>Item Name:<%#= Item.find(l.to_i).name %></h5>-->
        <!--        <h5>Item description:<%#= Item.find(l.to_i).description %></h5>-->
        <!--        <h5>Item Price:<%#= Item.find(l.to_i).price %></h5>-->

          <div class="card" style="width: 18rem;">
            <!--          <img src="..." class="card-img-top" alt="...">-->
            <% if mo.user.image.attached? %>

              <%= image_tag( mo.user.image, :class=> " card-img-top",style:"height: 200px")  %>

            <%else %>
              <%= image_tag "avatar2/user_blank_pic.jpg", :class=> " profile mr-2" %>

            <%end %>
            <div class="card-body"
                 <%if mo.is_payed==false %>
                 style="background-color: skyblue"
                 <%else %>
                 style="background-color: lightgreen"
                 <%end %>>
              <h5 class="card-title">Order Id:<%= mo.id %></h5>
              <h6 class="card-title">Student Id:<%= mo.user.stID %></h6>
              <p class="card-text">
<!--              <p> Category:<%#= Item.find(l.to_i).category1.name %></p>-->
                <%((mo.items).split(",")).each do |l| %>
              <p style="font-weight: bold"> Name:<%= Item.find(l.to_i).name %></p>
              <p style="font-weight: bold"> price:<span>&#3647;</span><%= Item.find(l.to_i).price %></p>
              <%end %>
              </p>
            </div>
            <ul class="list-group list-group-flush">
<!--              <li class="list-group-item"><h5>Item Price:<%#= Item.find(l.to_i).price %></h5></li>-->
              <li class="list-group-item">Order Date<%=(mo.created_at).to_datetime.to_s %></li>
              <%=link_to "Payment Done" ,payment_path(:booking_id=>mo.id),class:"btn btn-primary" %>
              <%#=link_to mo.total ,payment_path(:booking_id=>mo.id),class:"btn btn-warning" %>
              <div class="btn btn-warning"><span>&#3647;</span><%= mo.total %></div>
              <!--            <li class="list-group-item">Vestibulum at eros</li>-->
            </ul>
            <div class="card-body">
              <!--            <a href="#" class="card-link">Card link</a>-->
              <!--            <a href="#" class="card-link">Another link</a>-->
              <%if mo.is_payed==false %>
                <span style="color:red;font-weight: bold">  <%=" On The process and you have to pay the money" %></span>
              <% else  %><span style="color:green;font-weight: bold">
                <%="The process done and money was payed"  %></span>
              <%end %>
            </div>
          </div>
        </div>


    <%end %>

  </div>
</div>
</body>
</html>