<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    /*#bg1{*/
    /*  background-image:url("/avatar2/bg1.jpg");*/
    /*}*/
  </style>
</head>
<body id="bg1">


<div class="container">
<!--<h2>Log in</h2>-->

<%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<!--  <div class="field">-->
<!--    <%#= f.label :email %><br />-->
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :password %><br />-->
    <%#= f.password_field :password, autocomplete: "current-password" %>
<!--  </div>-->

  <%# if devise_mapping.rememberable? %>
<!--    <div class="field">-->
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
<!--    </div>-->
  <%# end %>

<!--  <div class="actions">-->
    <%#= f.submit "Log in" %>
<!--  </div>-->
<%# end %>

<%#= render "devise/shared/links" %>

<!--<h2>Log in</h2>-->

<%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<!--  <div class="field">-->
<!--    <%#= f.label :email %><br />-->
<%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :password %><br />-->
<%#= f.password_field :password, autocomplete: "current-password" %>
<!--  </div>-->

<%# if devise_mapping.rememberable? %>
<!--    <div class="field">-->
<%#= f.check_box :remember_me %>
<%#= f.label :remember_me %>
<!--    </div>-->
<%# end %>

<!--  <div class="actions">-->
<%#= f.submit "Log in" %>
<!--  </div>-->
<%# end %>

<%#= render "devise/shared/links" %>
  <div class="row">
  <div class="col-xl-10 offset-xl-1 col-lg-10 offset-lg-1 col-md-10 offset-md-0 col-sm-6 col-xs-3 offset-xs-0">
  <div class="jumbotron" style="background-color: rgba(0,0,0,0.5);box-shadow: 5px 5px 25px black;color: #DADADA;
      }">
    <div style="text-align: center">
    <p> Welcome to TimeOut AIT Cafe</p>
    <h2 class="text-center" style="color: white">
      <!--  <i class="circular users icon"></i>-->

      <i class="inverted orange circular power off icon"></i>
<!--      <i class="fas fa-power-off"></i>-->
<!--      <ion-icon name="power"></ion-icon>-->
      <i class="fa fa-power-off" aria-hidden="true" style="color:orangered"></i>
      Log in to continue
    </h2>
    </div>
    <div class="row">
    <div class="col-sm-10 col-sm offset-1" >
<!--    <div class="col " align="center">-->
<!--    <form class="form-horizontal center" role="form" style="alignment: center">-->
  <%= form_for(resource, as: resource_name, url: session_path(resource_name),class:"form-horizontal center",role:"form") do |f| %>
  <%#= form_for(:site, :url => {:action => 'index '}) do |f| %>
    <div class="form-group">
      <!--    <label>First Name</label>-->
      <!--    <input type="text" name="first-name" placeholder="First Name">-->
      <h5><%= f.label :email ,"Email",class: "col-md-4 control-label"%></h5>
      <div class="col-md-12">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <h5><%= f.label :password ,"Password",class: "col-md-4 control-label"%></h5>
      <div class="col-md-12">
      <%= f.password_field :password, autocomplete: "current-password" , class: "form-control"%>
      </div>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="form-group">
        <div class="checkbox">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me ,class: "col-md-4 control-label"%>
        </div>
      </div>
    <%end %>
    <!--  <button class="ui button" type="submit">Submit</button>-->
    <div class="form-group col-md-4 ">
      <%= f.submit "Sign In", class: "btn btn-primary btn-lg" %>
    </div>
  <%end %>
    </form>
    </div>
    </div>
</div>
  </div>
  </div>

</div>
</body>
</html>